
.pic--div {
    padding-left: 50px;
    padding-top: 90px;

    h1 {

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(19, 11, 1);
        justify-content: left;
        padding-top: 70px;
        font-size: 40px;
    }

    div {
        padding-top: 20px;


        
    }
}